@import url('https://fonts.googleapis.com/css2?family=Anton&family=Dosis&display=swap');

body{
  background-color: rgb(38, 45, 85);
  font-family: 'Dosis', sans-serif;
}

h2{
  
}

h2 a{
  color: black;
}

.engineers h2{
  margin-left: 57px;
}

.machines h2{
  margin-left: 57px;
}

p{
  margin-right: 40px;
}

p a{
  color: black;
}

.form{
  text-align: center;
  background-color: rgba(255, 255, 255, 0.594);
  margin-top: 20px;
  margin-left: 6.4%;
  width: 90%;
  height: 100%;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 500px;
  padding-top: 20px;
  border-radius: 4px;
}

.engineers{
  float: right;
  width: 50%;
  text-align: center;
}

.machines{
  float: left;
  width: 50%;
  text-align: center;
}