@{
  Layout = "_Layout";
}

@using Factory.Models
@model Factory.Models.Machine

<h4>Add a new Machine</h4>
@using (Html.BeginForm())
{

  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  <input type="submit" value="Add new machine" />
}
<p>@Html.ActionLink("Home", "Index", "Home")</p>