@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<div class="form">
  <h4>Add a new Engineer</h4>

  @using (Html.BeginForm())
  {
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)

    <input type="submit" value="Add Engineer" class="btn btn-default" />
  }
</div>